@import "tailwindcss";

h1{
  font-size: 60px;
  position: absolute;
  top: 45%;
  left:50%;
  transform: translate(-50,-50);
  text-decoration: underline;
  white-space:nowrap ;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}