*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color : #fff;
  }
html,
body{
  height:100%;
  background-color:#000;
}

body{
  background-color:#111;
}
